body {
    background-color: rgb(255, 81, 0);
    
}

h1 {
    font-family: "Comic Sans", cursive;
    background-color: rgb(0, 45, 128);
    font-size: 3rem;
    text-align: center;
    text-transform: uppercase;
}

h2{
    font-family: Century Gothic, sans-serif;
    background-color: yellow;
    font-size: 1.5rem;
    text-align: center;
    text-transform: uppercase;
}

p{
    font-family: 'Courier New';
    font-size: 1.5rem; 
}

li{
    font-family: 'Lucida Sans Unicode'; 
}

img {
    width: 10em;
    height: 10em;
    image-rendering: pixelated;
    filter: drop-shadow(0 0 5px black); 
    display:block;
    margin:auto;
}